$bg: #ffffff;
$card-bg: #ffc832;
$themes: (
  dhc: (
    primary: #50bfc1,
    secondary: #ffc832,
  ),
  saizen: (
    primary: rgb(255, 60, 83),
    secondary: #ffc832,
  ),
);
$breakpoints: (
  sm: (
    min: 576px,
    max: 575.98px,
  ),
  md: (
    min: 768px,
    max: 767.98px,
  ),
  lg: (
    min: 992px,
    max: 991.98px,
  ),
  xl: (
    min: 1200px,
    max: 1199.98px,
  ),
  xxl: (
    min: 1800px,
    max: 1799.98px,
  ),
);

@mixin breakpoint($breakpoint, $direction: min) {
  //check if the supplied breakpoint exists in our breakpoits map
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-values: map-get($breakpoints, $breakpoint);
    $breakpoint-min: map-get($breakpoint-values, min);
    $breakpoint-max: map-get($breakpoint-values, max);

    //check if we are writing styles for larger or smaller screens
    @if $direction == min {
      @media (min-width: $breakpoint-min) {
        @content;
      }
    } @else {
      @media (max-width: $breakpoint-max) {
        @content;
      }
    }

    // use the custom value if the breakpoint is not part of the pre-defined list
  } @else {
    @if $direction == min {
      @media (min-width: $breakpoint) {
        @content;
      }
    } @else {
      @media (max-width: $breakpoint) {
        @content;
      }
    }
  }
}
html {
  height: 100%;
}
body {
  all: unset;
  overflow: scroll;
}

.container {
  background-size: contain;
  background-repeat: no-repeat;
}
.container#dhc {
  background-image: url(/src/assets/bg-dhc.png);
}
.container#saizen {
  background-image: url(/src/assets/bg-saizen.png);
}
#dhc {
  background-image: url(/src/assets/start-dhc.png);
  @include breakpoint(sm) {
    background-image: url(/src/assets/startES.svg);
  }
}

#saizen {
  background-image: url(/src/assets/startPT.svg);
}
.inicio {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include breakpoint(sm) {
    height: 100vh;
    align-content: initial;
    padding-left: 1rem;
  }

  #logo {
    width: 2rem;
    height: 2rem;
  }

  .empezar {
    width: 80%;
    height: 10%;
    padding: 24px 56px 24px 40px;
    font-size: 24px;
    line-height: 32px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-family: Verdana;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-shrink: 0;
    border-radius: 8px;

    @include breakpoint(sm) {
      width: 30%;
    }
  }

  .texto {
    width: 80%;
    font-size: 12px;
    line-height: 12px;
    text-align: justify;
    font-weight: bold;

    color: #111;
    font-family: Verdana;
    font-style: normal;
    font-weight: 700;

    @include breakpoint(md) {
      width: 40%;
    }
  }

  .titulo-quiz {
    color: #111;
    font-family: Verdana;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 14.5px; /* 181.25% */
    text-transform: capitalize;
    flex: 0.4;
    padding-left: 1rem;

    .titulo {
      display: flex;
      margin-bottom: 1rem;
    }

    @include breakpoint(sm) {
      align-self: self-start;
    }
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  margin-bottom: 3rem;
}
.sidebar {
  grid-area: sidebar;
  background-repeat: no-repeat;
  min-width: 370px;
}

.footer {
  grid-area: footer;
  margin-top: 2rem;
  column-span: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.numero-pregunta {
  position: absolute;
  top: -3rem;
  right: 0;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint(sm) {
    width: 75px;
    height: 75px;
  }

  @include breakpoint(md) {
    width: 100px;
    height: 100px;
  }
}
.numero-pregunta#dhc {
  background-image: url(/src/assets/numero_pregunta.svg);
}
.numero-pregunta#saizen {
  background-image: url(/src/assets/numero_pregunta2.svg);
}

.centered {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  font-family: 'Sniglet';
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 22.222% */
  text-transform: uppercase;
  grid-area: number;
  @include breakpoint(sm) {
    font-size: 3rem;
  }

  @include breakpoint(md) {
    font-size: 90px;
    img {
      width: auto;
      height: auto;
    }
  }
}

.quiz-container {
  max-width: 1000px;
  margin: auto;
  padding: 2rem;
  padding-top: 7rem;
  position: relative;
  display: flex;
  flex-direction: column;
  @include breakpoint(md) {
    min-height: 35rem;
  }
  @include breakpoint(lg) {
    min-height: 30rem;
  }
  @include breakpoint(xl) {
    min-height: 35rem;
  }
  @include breakpoint(xxl) {
    min-height: 40rem;
  }
}

.respuestas {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.respuesta {
  display: flex;
  min-height: 5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: $card-bg;
  border-radius: 16px;
  margin-bottom: 0.5rem;

  @include breakpoint(md) {
    padding-inline: 0;
  }

  &#correcta {
    border: 0.7rem solid #3ca33c;
    box-sizing: border-box;
  }
  &#incorrecta {
    border: 0.7rem solid #ea9700;
    box-sizing: border-box;
  }
}

.idioma-container {
  position: absolute;
  right: 1%;
  bottom: 1%;
}

.idioma {
  cursor: pointer;
  background: none;
  border: none;
  & > img {
    width: 30px;
    height: 30px;
  }
}

.texto {
  color: #000;
  text-align: center;
  font-family: Verdana;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  width: 100%;
  padding: 0.7rem;

  @include breakpoint(md) {
    font-size: 16px;
  }
}

.header-container {
  display: flex;
  flex-direction: row;
}

.pregunta {
  color: #1c361c;
  text-align: center;
  font-family: Verdana;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include breakpoint(md) {
    font-size: 28px;
  }
}
.footer > button {
  all: unset;
  :hover {
    cursor: pointer;
    &.left,
    &.right {
      fill: #398639;
    }
  }
}

.progress {
  background: #fff;
  color: #ffc832 !important;
  height: 1rem;
  width: 90%;
}

.referencias {
  position: absolute;
  top: -3rem;
  right: 20%;
}

.final {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include breakpoint(sm) {
    align-content: initial;
    padding-left: 1rem;
  }
  background-image: url(/src/assets/start-dhc.png);

  .gracias {
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    line-height: 64px; /* 133.333% */
    text-transform: uppercase;

    @include breakpoint(sm) {
      width: 40%;
      font-size: 48px;
    }
  }

  .texto {
    width: 80%;
    font-size: 12px;
    line-height: 12px;
    text-align: justify;
    font-weight: bold;

    color: #111;
    font-family: Verdana;
    font-style: normal;
    font-weight: 700;
    @include breakpoint(md) {
      width: 40%;
    }
  }
}

.registered {
  font-size: medium;
}

.progress-btn {
  width: 3rem;
  height: 3rem;

  @include breakpoint(sm) {
    width: 4rem;
    height: 4rem;
  }

  @include breakpoint(md) {
    width: 5rem;
    height: 5rem;
  }
}

@mixin tablet {
  @media screen and (max-width: 900px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 520px) {
    @content;
  }
}

@mixin svgStyle($color, $width, $height, $hovercolor: null) {
  svg {
    width: $width;
    height: $height;
    path {
      stroke: $color;
    }
  }
  svg:hover {
    fill: $hovercolor;
  }
}
